<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="#meraCheckout" onclick="order()">Checkout</button>
    <script src="https://js.stripe.com/v3/"></script>
    <script>

        function order(){
            var stripe = Stripe('pk_test_51LaKL4SBkB8engaIEwJL8S7pWhwVFZiWtxyjpUQSzlgbcex50dpzMtPFGgDBHBAhA72SqDFgn4ZuQY861KDmTzrM00MTBA2nbT')
            let myHeaders = new Headers({
                'Authorization': 'Basic eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiNjJmZmRkNzU2NGYwYWQzYTdlNjJkNGZlIiwidXNlcl9lbWFpbCI6Im1pbGFuc2luZ2hkYXZAZ21haWwuY29tIiwiaWF0IjoxNjYxNDM2MzM4LCJleHAiOjE2NjE0NzIzMzh9.45QqV-Zhis7Mg1vPq2_sv9erOCNgeJN5dQ8znyJ3q9s'
            });

            fetch('http://localhost:5000/service-checkout-handler',{
                headers: myHeaders
            })
            .then(res=>{
                console.log('res 1',res)
                if(res.status!=200){
                    alert('some error occurred...!')
                    throw new Error('some error occured');
                }
                else{
                    return res.json();
                }
                
            })
            .then(res=>{
                console.log(res);
                //console.log(res.body);
                //call stripe
                stripe.redirectToCheckout({
                    sessionId: res.sessionId
                })
            })
            .catch(err=>{
                // alert(err)
                console.log(err);
            })
            // .then()
            // stripe.redirectToChechout({

            // })
        }
    </script>
</body>
</html>